<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/users/update}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <input type="hidden" th:field="*{id}" id="id">
    <input type="submit" value="Update"/>
</form>
</body>
</html>